<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
       <h1 style="background-color:#696969;"> <img src="https://cdn.glitch.com/9c27f3a6-4ebe-4a92-83ac-1829721af8b1%2Flogo65.png?v=1569612543944"
                width="50%" />
      </h1><h2>
      <i>Registre</i>
      </h2>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Entre com seu nome..."
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Entre com seu Email.."
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Crie uma senha"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirme a Senha</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirme a senha..."
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Registrar
        </button>
      </form>
      <p class="lead mt-4">Já possui conta? <a href="/users/login">Entre</a></p>
    </div>
  </div>
</div>
