<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 style="background-color:#696969;"> <img src="https://cdn.glitch.com/9c27f3a6-4ebe-4a92-83ac-1829721af8b1%2Flogo65.png?v=1569612543944"
                width="50%" />
        <!--<i class="fab fa-node-js fa-3x"></i>-->
</h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Registre</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Entre</a>
    </div>
  </div>
</div>
